.thank-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  height: 50vh;
  position: relative;
}

.thank-screen::after {
  content: '';
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 50%;
  background: url('../../../public/six.svg') center/cover no-repeat;
  opacity: 0.2;
  filter: blur(5px);
}

.thank-screen h1 {
  color: var(--primary-color);
  font-size: 2em;
  margin-bottom: 20px;
}

.thank-screen p {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.thank-screen button {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
}

.thank-screen button:hover {
  background-color: #333;
}
