:root {
  --primary-color: #198754;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
